.top-head {
    p {
        font-family: "Jost", sans-serif;
        margin: 20px 0 30px;
        margin-top: 0px;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        color: #fff;
        background-image: linear-gradient(-225deg, #fff 0%, #d4d4d4 29%, #ffff 67%, #81cebb 100%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
    }
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
}

.rh-hero-right-part {
    max-width: 384px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 60px;
    background: #fff url('/assets/images/backgrounds/wave-png-9948.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 50px 0 50px 0;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 0;
    .rh-hr-rgt-top {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
        border-bottom: 1px solid #105749;
        i {
            margin-right: 6px;
            img {
                width: 42px
            }
        }
        h3 {
            font-weight: 600;
            font-size: 18px;
            margin: 0rem;
            line-height: 18px;
            color: #105749;
            span {
                font-size: 14px;
                font-weight: 400;
                display: block;
            }
        }
    }
    .rh-hr-rgt-form {
        width: 100%;
        height: auto;
        margin: 0rem;
        margin-top: 20px;
        padding: 0rem;
        h3 {
            margin-bottom: 10px;
            text-align: center;
        }
        form {
            padding: 20px 30px;
            padding-bottom: 0;
        }
        .rh-hr-rgt-form-email {
            .mat-mdc-form-field .mat-mdc-text-field-wrapper.mdc-text-field .mdc-notched-outline__notch {
                padding-top: 1px;
            }
        }
        .rh-hr-rgt-form-password {
            .mat-mdc-form-field .mat-mdc-text-field-wrapper.mdc-text-field .mdc-notched-outline__notch {
                padding-top: 1px;
            }
        }
        .btn-theme {
            background: #196145;
            position: relative;
            display: inline-block;
            width: 100%;
            color: #fff;
            overflow: hidden;
            text-transform: capitalize;
            display: inline-block;
            transition: all 0.3s ease;
            cursor: pointer;
            font-size: 17px;
            font-weight: 400;
            border-radius: 3px;
            border: 0;
            min-height: 44px;
            &:hover {
                color: #000;
                &::before {
                    left: 0%;
                    transform: scale(1, 1);
                }
            }
            &:before {
                background: linear-gradient(270deg, rgba(252, 246, 166, 1) 0%, rgba(203, 255, 156, 1) 36%);
                position: absolute;
                content: '';
                left: 96%;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 1;
                transition: all 0.4s;
                transform: skewX(-25deg)
            }
        }
    }
    .extra {
        padding: 0px 40px;
        .extra-login {
            width: 100%;
            margin: 25px 0 25px;
            text-align: center;
            position: relative;
            &::before {
                position: absolute;
                left: 0;
                top: 10px;
                width: 100%;
                height: 1px;
                background: #d8dcdc;
                content: "";
            }
            span {
                width: auto;
                float: none;
                display: inline-block;
                background: #fff;
                padding: 1px 10px;
                z-index: 1;
                position: relative;
                font-size: 12px;
                color: #535353;
                text-transform: capitalize;
            }
        }
        .rh-hr-rgt-social-part {
            width: 100%;
            height: 100%;
            margin: 0rem;
            padding: 0rem;
            .row {
                padding: 0px 0px 0px 0px;
                align-items: stretch;
                button.rh-hr-form-social-btn {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid rgb(16 87 73 / 10%);
                    border-radius: 6px;
                    padding: 0.5rem 1rem;
                    font-family: "Work Sans", sans-serif;
                    font-weight: 500;
                    font-size: 1rem;
                    text-decoration: none;
                    outline: none;
                    color: #105749;
                    img {
                        width: 20px;
                        height: auto;
                        padding: 0px;
                        margin: 0px 10px 0px 0px;
                    }
                    &:hover {
                        background-color: rgba(16, 87, 73, 0.05);
                        transition: background-color 500ms;
                    }
                }
            }
        }
        .rh-hr-form-trustpilot-part {
            width: 100%;
            height: auto;
            margin: 30px 0px 0px 0px;
            padding: 0px;
            h4 {
                font-family: "Work Sans", sans-serif;
                font-weight: 400;
                font-size: 1rem;
                text-align: center;
                color: #105749;
            }
            img {
                width: 200px;
                height: auto;
                margin-top: 0.5rem;
                padding: 0px;
            }
            p {
                font-family: "Work Sans", sans-serif;
                font-weight: 600;
                font-size: 0.875rem;
                text-align: center;
                color: #00b67a;
                margin: 0.25rem 0rem 0rem 0rem;
            }
        }
    }
     ::ng-deep {
        .mdc-checkbox {
            padding-left: 0;
            padding-right: 4px;
        }
        .mdc-checkbox__background {
            left: 0;
        }
        .mdc-checkbox:active>.mdc-checkbox__native-control+.mdc-checkbox__ripple,
        .mdc-checkbox:hover .mdc-checkbox__native-control:checked+.mdc-checkbox__ripple {
            background-color: transparent;
        }
    }
}