<div class="text-center top-head">
    <p>{{ 'login.headline' | translate }} </p>
</div>

<div class="rh-hero-right-part">
    <div class="bg-trans">

        <div class="rh-hr-rgt-top">
            <i class="fa"><img src="assets/images/icon/trophy-star.png"></i>
            <h3>{{ defaultAmount | currency: 'USD' : 'symbol' }} million <span>{{ 'login.earn_members' | translate
                    }}</span></h3>
        </div>
        <div class="rh-hr-rgt-form">
            <h3>{{ 'login.logintext' | translate }}</h3>
            <form [formGroup]="loginForm" (submit)="submit()">
                <mat-form-field appearance="outline" color="primary" class="w-100">
                    <mat-label>{{ 'text.emailid' | translate }}</mat-label>
                    <input matInput formControlName="email"> @if (loginForm.get('email')?.hasError('required')) {
                    <mat-error class="text-right">{{ 'messages.email.required' | translate }}</mat-error>
                    } @else if (loginForm.get('email')?.hasError('email')) {
                    <mat-error class="text-right">{{ 'messages.email.invalid' | translate }}</mat-error>
                    }

                </mat-form-field>

                <mat-form-field appearance="outline" color="primary" class="w-100" *ngIf="isEmailValidCheck">
                    <mat-label>{{ 'text.password' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password">
                    @if (loginForm.get('password')?.hasError('required')) {
                    <mat-error class="text-right">{{ 'messages.password.required' | translate }}</mat-error>
                    }
                </mat-form-field>

                <div class="d-flex align-items-center m-b-12">
                    <mat-checkbox color="primary">{{ 'login.remember_me' | translate }}</mat-checkbox>
                    <a class="text-secondary f-w-600 text-decoration-none m-l-auto f-s-14" (click)="forgotPassword()"
                        href="javascript://">{{ 'login.forgotpassword' | translate }}</a>
                </div>

                <button type="submit" mat-flat-button color="primary" class="w-100 btn-theme">{{ 'buttons.continue' |
                    translate }}</button>
            </form>
        </div>
        <div class="extra">
            <div class="extra-login clearfix">
                <span>{{ 'login.login_with' | translate }}</span>
            </div>
            <div class="rh-hr-rgt-social-part">
                <div class="row">
                    <div class="col-12">
                        <button type="button" mat-stroked-button color="primary" googlelogin
                            class="w-100 rh-hr-form-social-btn">
                            <div class="d-flex align-items-center gap-6">
                                <img src="/assets/images/icon/rh-google.svg" alt="google"> {{ 'buttons.google' |
                                translate }}
                            </div>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>