<nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false" mat-align-tabs="center" class="nav-tabs">
    @for (link of links; track link) {
    <a mat-tab-link (click)="activeLink = link;changeSurveyType(link)" [active]="activeLink == link"> {{link}} </a> }
</nav>

<mat-tab-nav-panel #tabPanel>
    <div class="card-container">
        @for(item of filteredSurveys; track item.name) {
        <mat-card class="custom-card" [ngClass]="{
                    'is-blurred': !item.isProfileSurvey && hasProfileSurvey(),
                    'profile-highlight': item.isProfileSurvey
                  }" (click)="!item.isProfileSurvey && hasProfileSurvey() ? null : attemptSurvey(item)">


            <div class="hot-badge" *ngIf="item.isHot && !item.isProfileSurvey">
                <mat-icon>whatshot</mat-icon>
            </div>

            <div class="profile-tag" *ngIf="item.isProfileSurvey">REQUIRED</div>

            <!-- <div class="hot-icon" *ngIf="item.isHot && !item.isProfileSurvey"> 🔥 </div> -->


            <div class="top-bar">
                <div class="left">
                    <mat-icon class="clock-icon">schedule</mat-icon>
                    <span>{{ item.loi }} min</span>
                </div>
                <div class="right label">
                    {{ item.name }}
                </div>
            </div>

            <div class="points-rating-vertical centered">
                <div class="points">
                    {{ item.points }} <span class="points-label">Points</span>
                </div>
                <div class="rating">
                    <mat-icon *ngFor="let star of getStars(item.rating)" class="star">
                        {{ star === 'filled' ? 'star' : star === 'half' ? 'star_half' : 'star_border' }}
                    </mat-icon>
                    <span class="review-count">({{ item.ratingCount }})</span>
                </div>
            </div>
        </mat-card>
        }

    </div>
</mat-tab-nav-panel>