<section id="Privacy_Policy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h2>{{ 'privacyPolicy.heading.title' | translate }}</h2>
                    <p>{{ 'privacyPolicy.heading.intro' | translate }}</p>
                    <p><strong>{{ 'privacyPolicy.heading.effectiveDate' | translate }}</strong></p>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <mat-card class="shadow-none border-radius-0">

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section1.title' | translate }}</h3>
                                <h5>{{ 'privacyPolicy.section1.accessLogs.subtitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section1.accessLogs.description' | translate }}</p>

                                <h5>{{ 'privacyPolicy.section1.deviceInformation.subtitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section1.deviceInformation.description' | translate }}</p>

                                <h5>{{ 'privacyPolicy.section1.userInformation.subtitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section1.userInformation.intro' | translate }}</p>
                                <ul>
                                    <li>{{ 'privacyPolicy.section1.userInformation.email' | translate }}</li>
                                </ul>
                                <p>{{ 'privacyPolicy.section1.userInformation.demographicData' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section2.title' | translate }}</h3>
                                <p>{{ 'privacyPolicy.section2.paragraph1' | translate }}</p>
                                <p>{{ 'privacyPolicy.section2.paragraph2' | translate }}</p>
                                <ul>
                                    <li>{{ 'privacyPolicy.section2.point1' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section2.point2' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section2.point3' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section2.point4' | translate }}</li>
                                </ul>
                                <p>{{ 'privacyPolicy.section2.consentWithdrawal' | translate }}</p>
                                <p>{{ 'privacyPolicy.section2.dataRetentionSecurity' | translate }}</p>
                                <p>{{ 'privacyPolicy.section2.accountClosure' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section3.title' | translate }}</h3>
                                <p>{{ 'privacyPolicy.section3.intro' | translate }}</p>
                                <ul>
                                    <li>{{ 'privacyPolicy.section3.point1' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section3.point2' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section3.point3' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section3.point4' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section3.point5' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section3.point6' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section3.point7' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section3.point8' | translate }}</li>
                                </ul>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section4.title' | translate }}</h3>
                                <p>{{ 'privacyPolicy.section4.intro' | translate }}</p>
                                <ul>
                                    <li>{{ 'privacyPolicy.section4.point1' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section4.point2' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section4.point3' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section4.point4' | translate }}</li>
                                    <li>{{ 'privacyPolicy.section4.point5' | translate }}</li>
                                </ul>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section5.title' | translate }}</h3>
                                <p>{{ 'privacyPolicy.section5.paragraph1' | translate }}</p>
                                <p>{{ 'privacyPolicy.section5.paragraph2' | translate }}</p>
                                <p>{{ 'privacyPolicy.section5.paragraph3' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section6.title' | translate }}</h3>

                                <h5>{{ 'privacyPolicy.section6.choicePermission.subtitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section6.choicePermission.description' | translate }}</p>

                                <h5>{{ 'privacyPolicy.section6.externalSources.subtitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section6.externalSources.description' | translate }}</p>

                                <h5>{{ 'privacyPolicy.section6.limitationsRestrictions.subtitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section6.limitationsRestrictions.description' | translate }}</p>

                                <h5>{{ 'privacyPolicy.section6.accessDataTransferability.subtitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section6.accessDataTransferability.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section7.title' | translate }}</h3>
                                <p>{{ 'privacyPolicy.section7.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section8.title' | translate }}</h3>
                                <p>{{ 'privacyPolicy.section8.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section9.title' | translate }}</h3>
                                <h5>{{ 'privacyPolicy.section9.legalGroundsTitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section9.legalGroundsIntro' | translate }}</p>
                                <ul>
                                    <li><strong>{{ 'privacyPolicy.section9.consent.title' | translate }}</strong> {{ 'privacyPolicy.section9.consent.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section9.contractualNecessity.title' | translate }}</strong> {{ 'privacyPolicy.section9.contractualNecessity.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section9.legalCompliance.title' | translate }}</strong> {{ 'privacyPolicy.section9.legalCompliance.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section9.vitalInterests.title' | translate }}</strong> {{ 'privacyPolicy.section9.vitalInterests.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section9.publicDuty.title' | translate }}</strong> {{ 'privacyPolicy.section9.publicDuty.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section9.legitimateInterests.title' | translate }}</strong> {{ 'privacyPolicy.section9.legitimateInterests.description' | translate }}</li>
                                </ul>
                                <p>{{ 'privacyPolicy.section9.legalBasisExplanation' | translate }}</p>

                                <h5>{{ 'privacyPolicy.section9.yourRightsTitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section9.yourRightsIntro' | translate }}</p>
                                <ul>
                                    <li><strong>{{ 'privacyPolicy.section9.access.title' | translate }}</strong> {{ 'privacyPolicy.section9.access.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section9.rectification.title' | translate }}</strong> {{ 'privacyPolicy.section9.rectification.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section9.objection.title' | translate }}</strong> {{ 'privacyPolicy.section9.objection.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section9.erasure.title' | translate }}</strong> {{ 'privacyPolicy.section9.erasure.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section9.dataPortability.title' | translate }}</strong> {{ 'privacyPolicy.section9.dataPortability.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section9.withdrawalOfConsent.title' | translate }}</strong> {{ 'privacyPolicy.section9.withdrawalOfConsent.description' | translate }}</li>
                                </ul>

                                <h5>{{ 'privacyPolicy.section9.exercisingRightsTitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section9.exercisingRightsDescription1' | translate }}</p>
                                <p>{{ 'privacyPolicy.section9.exercisingRightsDescription2' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section10.title' | translate }}</h3>
                                <h5>{{ 'privacyPolicy.section10.yourRightsTitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section10.yourRightsIntro' | translate }}</p>
                                <ul>
                                    <li><strong>{{ 'privacyPolicy.section10.rightToNotice.title' | translate }}</strong> {{ 'privacyPolicy.section10.rightToNotice.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section10.rightToAccess.title' | translate }}</strong> {{ 'privacyPolicy.section10.rightToAccess.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section10.rightToOptOut.title' | translate }}</strong> {{ 'privacyPolicy.section10.rightToOptOut.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section10.rightToKnow.title' | translate }}</strong> {{ 'privacyPolicy.section10.rightToKnow.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section10.rightToDelete.title' | translate }}</strong> {{ 'privacyPolicy.section10.rightToDelete.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section10.rightToNonDiscrimination.title' | translate }}</strong> {{ 'privacyPolicy.section10.rightToNonDiscrimination.description' | translate }}</li>
                                </ul>

                                <h5>{{ 'privacyPolicy.section10.exercisingRightsTitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section10.exercisingRightsDescription' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section11.title' | translate }}</h3>
                                <h5>{{ 'privacyPolicy.section11.infoForConsumers' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section11.infoForConsumersDescription' | translate }}</p>

                                <h5>{{ 'privacyPolicy.section11.personalDataHandled.title' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section11.personalDataHandled.description' | translate }}</p>

                                <h5>{{ 'privacyPolicy.section11.whyProcessData.title' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section11.whyProcessData.description' | translate }}</p>

                                <h5>{{ 'privacyPolicy.section11.yourRightsTitle' | translate }}</h5>
                                <ul>
                                    <li><strong>{{ 'privacyPolicy.section11.access.title' | translate }}</strong> {{ 'privacyPolicy.section11.access.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section11.correction.title' | translate }}</strong> {{ 'privacyPolicy.section11.correction.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section11.deletion.title' | translate }}</strong> {{ 'privacyPolicy.section11.deletion.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section11.dataPortability.title' | translate }}</strong> {{ 'privacyPolicy.section11.dataPortability.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section11.optOut.title' | translate }}</strong> {{ 'privacyPolicy.section11.optOut.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section11.nonDiscrimination.title' | translate }}</strong> {{ 'privacyPolicy.section11.nonDiscrimination.description' | translate }}</li>
                                </ul>

                                <h5>{{ 'privacyPolicy.section11.submittingRequestsTitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section11.submittingRequestsDescription' | translate }}</p>

                                <h5>{{ 'privacyPolicy.section11.timelinesAppealsTitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section11.timelinesAppealsDescription' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section12.title' | translate }}</h3>
                                <p>{{ 'privacyPolicy.section12.intro' | translate }}</p>
                                <ul>
                                    <li><strong>{{ 'privacyPolicy.section12.confirmation.title' | translate }}</strong> {{ 'privacyPolicy.section12.confirmation.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section12.access.title' | translate }}</strong> {{ 'privacyPolicy.section12.access.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section12.correction.title' | translate }}</strong> {{ 'privacyPolicy.section12.correction.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section12.anonymizationDeletion.title' | translate }}</strong> {{ 'privacyPolicy.section12.anonymizationDeletion.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section12.portability.title' | translate }}</strong> {{ 'privacyPolicy.section12.portability.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section12.erasure.title' | translate }}</strong> {{ 'privacyPolicy.section12.erasure.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section12.infoAboutConsent.title' | translate }}</strong> {{ 'privacyPolicy.section12.infoAboutConsent.description' | translate }}</li>
                                    <li><strong>{{ 'privacyPolicy.section12.withdrawConsent.title' | translate }}</strong> {{ 'privacyPolicy.section12.withdrawConsent.description' | translate }}</li>
                                </ul>

                                <h5>{{ 'privacyPolicy.section12.howToExerciseRightsTitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section12.howToExerciseRightsDescription' | translate }}</p>

                                <h5>{{ 'privacyPolicy.section12.responseTimeTitle' | translate }}</h5>
                                <p>{{ 'privacyPolicy.section12.responseTimeDescription' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section13.title' | translate }}</h3>
                                <p>{{ 'privacyPolicy.section13.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.section14.title' | translate }}</h3>
                                <p>{{ 'privacyPolicy.section14.description1' | translate }}</p>
                                <p>{{ 'privacyPolicy.section14.description2' | translate }}</p>
                            </div>

                            <!-- <div class="m-b-24">
                                <h3>{{ 'privacyPolicy.dataProtectionOfficer.title' | translate }}</h3>
                                <p><strong>{{ 'privacyPolicy.dataProtectionOfficer.name' | translate }}</strong><br><br>
                                    <a href="mailto:dpo@profitpiller.com">{{ 'privacyPolicy.dataProtectionOfficer.email' | translate }}</a><br>
                                    {{ 'privacyPolicy.dataProtectionOfficer.company' | translate }}<br>
                                    {{ 'privacyPolicy.dataProtectionOfficer.companyNumber' | translate }}<br>
                                    {{ 'privacyPolicy.dataProtectionOfficer.address' | translate }}
                                </p>
                            </div> -->

                        </mat-card>
                    </div>
                    <div class="col-lg-5">
                        <div class="img-fixed">
                            <div class="img1 image-anime">
                                <img src="assets/images/privecy-policy.jpg" alt="Privacy Policy Illustration">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
