<section id="About">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <mat-card class="about-card shadow-none text-left">
                    <div class="head-sec">
                        <h5>
                            <mat-icon>card_membership</mat-icon> {{ 'about.head.subtitle' | translate }}
                        </h5>
                        <h2>{{ 'about.head.title' | translate }}</h2>
                    </div>
                    <p>
                        <strong>{{ 'about.intro.strong' | translate }}</strong><br> {{ 'about.intro.paragraph' |
                        translate }}
                    </p>
                    <div class="about-boxarea m-b-20">
                        <div class="icons">
                            <img src="assets/images/icon/mission.png" alt="Mission Icon">
                        </div>
                        <div class="content-area">
                            <h4>{{ 'about.mission.title' | translate }}</h4>
                            <p>{{ 'about.mission.description' | translate }}</p>
                        </div>
                    </div>
                    <div class="about-boxarea m-b-20">
                        <div class="icons">
                            <img src="assets/images/icon/reward.png" alt="Reward Icon">
                        </div>
                        <div class="content-area">
                            <h4>{{ 'about.rewards.title' | translate }}</h4>
                            <p>{{ 'about.rewards.description' | translate }}</p>
                        </div>
                    </div>
                    <div class="about-boxarea m-b-20">
                        <div class="icons">
                            <img src="assets/images/icon/feedback.png" alt="Feedback Icon">
                        </div>
                        <div class="content-area">
                            <h4>{{ 'about.feedback.title' | translate }}</h4>
                            <p>{{ 'about.feedback.description' | translate }}</p>
                        </div>
                    </div>
                    <div class="about-boxarea contact">
                        <div class="icons">
                            <img src="assets/images/icon/phone.png" alt="Phone Icon">
                        </div>
                        <div class="content-area">
                            <h4>{{ 'about.contact.title' | translate }}</h4>
                            <ul>
                                <li>
                                    <mat-icon> email</mat-icon> <a href="mailto:support@profitpiller.com">{{
                                        'about.contact.email' | translate }}</a>
                                </li>
                                <li>
                                    <mat-icon> call</mat-icon> <a href="tel:+91-8876654356">{{ 'about.contact.phone' |
                                        translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-6">
                <div class="img1 image-anime m-b-20">
                    <img src="assets/images/about/about.jpg" class="img-fluid" alt="About Image 1">
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="img2 image-anime">
                            <img src="assets/images/about/about-3.jpg" alt="About Image 2">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="img2 image-anime">
                            <img src="assets/images/about/about-2.jpg" alt="About Image 3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>