<mat-dialog-content class="dialog-content">
    <div class="dialog-header">
        <span class="title">{{ offer.offerName }}</span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <!-- <div class="d-flex align-items-center justify-content-between m-b-16">
    <h2 class="offer-title">{{ offer.offerName }}</h2>
    <button mat-icon-button mat-dialog-close>
        <i-tabler name="x" class="x icon-20"></i-tabler>
    </button>
</div> -->


    <div class="offer-header">
        <div class="offer-image-container">
            <img loading="lazy" [src]="offer.imageUrl" alt="{{ offer.offerName }}" />
            <div class="platform-icon">
                @if(offer?.device?.includes('All') || offer?.device?.includes('Desktop')) {
                <mat-icon>apple</mat-icon>
                <mat-icon>android</mat-icon>
                } @else{ @if(offer?.device?.includes('IOS')) {
                <mat-icon>apple</mat-icon>
                } @if(offer?.device?.includes('Android')) {
                <mat-icon>android</mat-icon>
                } }

            </div>
        </div>

        <div class="offer-summary">
            <div class="points">
                <span class="value">{{ offer.points }}</span> Points
                <div class="chipupper">
                    <div class="chip" *ngFor="let tag of offer.offerCategory">
                        {{ tag }}
                    </div>
                </div>
            </div>
            <div class="description">{{ offer.providerName }}</div>

        </div>


    </div>

    <h3 class="rewards-heading">Rewards</h3>

    <div class="rewards-list">
        <mat-card class="reward-item" *ngFor="let reward of offer.tasks">
            <span class="reward-points">{{ reward.points }} Points</span>
            <span class="reward-desc">{{ reward.name }}</span>
        </mat-card>
    </div>

    <h3 class="rewards-heading">Description</h3>
    <div class="rewards-list">
        <span class="reward-desc">{{ offer.description }}</span>
    </div>

    <h3 class="rewards-heading" *ngIf="!!offer.requirements">Requirements</h3>
    <div class="rewards-list" *ngIf="!!offer.requirements">
        <span class="reward-desc">{{ offer.requirements }}</span>
    </div>

    <h3 class="rewards-heading" *ngIf="!!offer.confirmationTime">Confirmation Time</h3>
    <div class="rewards-list" *ngIf="!!offer.confirmationTime">
        <span class="reward-desc">{{ offer.confirmationTime }}</span>
    </div>

    <h3 class="rewards-heading" *ngIf="!!offer.expireTime">Expired On</h3>
    <div class="rewards-list" *ngIf="!!offer.expireTime">
        <span class="reward-desc">{{ offer.expireTime | date:'dd-MM-yyyy HH:MM:SS' }}</span>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="footer">
    <button mat-flat-button color="primary" class="earn-button btn-theme" (click)="earn()">
        Earn {{ offer.points }} Points
    </button>
</mat-dialog-actions>