<div class="example-sidenav-content">
    <div class="wrapper">
        <div class="main">
            <div class="section">
            </div>
            <div class="container">
                <div class="crtMsg-container">
                    <div class="container">
                        <div class="row mb-4" *ngIf="status == 1">
                            <div class="col-12">
                                <div class="crtMsg-outer crt-borderSuccess">
                                    <h5>{{ 'app.status.congrats' | translate }}</h5>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4" *ngIf="status && status != 1">
                            <div class="col-12">
                                <div class="crtMsg-outer crt-borderError">
                                    <img loading="lazy" src="assets/images/sad.png" alt="" />
                                    <h5>{{ 'app.status.noCriteria' | translate }}</h5>
                                    <p>{{ 'app.status.differentParticipants' | translate }}</p>
                                    <p>{{ 'app.status.tryOther' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
