<section id="Term_Condition">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h2>{{ 'termsConditions.heading.title' | translate }}</h2>
                    <p><strong>{{ 'termsConditions.heading.effectiveDate' | translate }}</strong></p>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <mat-card class="shadow-none border-radius-0">

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.applicability.title' | translate }}</h3>
                                <p>{{ 'termsConditions.applicability.paragraph1' | translate }}</p>
                                <p>{{ 'termsConditions.applicability.paragraph2' | translate }}</p>
                                <p>{{ 'termsConditions.applicability.paragraph3' | translate }}</p>
                                <p>{{ 'termsConditions.applicability.paragraph4' | translate }}</p>
                                <p>{{ 'termsConditions.applicability.paragraph5' | translate }}</p>
                                <p>{{ 'termsConditions.applicability.paragraph6' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.eligibility.title' | translate }}</h3>
                                <p>{{ 'termsConditions.eligibility.paragraph1' | translate }}</p>
                                <p>{{ 'termsConditions.eligibility.paragraph2' | translate }}</p>
                                <p>{{ 'termsConditions.eligibility.paragraph3' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.panelRegistration.title' | translate }}</h3>
                                <p>{{ 'termsConditions.panelRegistration.paragraph1' | translate }}</p>
                                <p>{{ 'termsConditions.panelRegistration.paragraph2' | translate }}</p>
                                <p>{{ 'termsConditions.panelRegistration.paragraph3' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.rewards.title' | translate }}</h3>
                                <h5>{{ 'termsConditions.rewards.coinsDefinition.subtitle' | translate }}</h5>
                                <p>{{ 'termsConditions.rewards.coinsDefinition.description' | translate }}</p>

                                <h5>{{ 'termsConditions.rewards.earningCoins.subtitle' | translate }}</h5>
                                <p>{{ 'termsConditions.rewards.earningCoins.description1' | translate }}</p>
                                <p>{{ 'termsConditions.rewards.earningCoins.listTitle' | translate }}</p>
                                <ul>
                                    <li>{{ 'termsConditions.rewards.earningCoins.point1' | translate }}</li>
                                    <li>{{ 'termsConditions.rewards.earningCoins.point2' | translate }}</li>
                                    <li>{{ 'termsConditions.rewards.earningCoins.point3' | translate }}</li>
                                    <li>{{ 'termsConditions.rewards.earningCoins.point4' | translate }}</li>
                                </ul>
                                <p>{{ 'termsConditions.rewards.earningCoins.description2' | translate }}</p>

                                <h5>{{ 'termsConditions.rewards.redeemingCoins.subtitle' | translate }}</h5>
                                <p>{{ 'termsConditions.rewards.redeemingCoins.description1' | translate }}</p>
                                <p>{{ 'termsConditions.rewards.redeemingCoins.description2' | translate }}</p>
                                <p>{{ 'termsConditions.rewards.redeemingCoins.description3' | translate }}</p>
                                <p>{{ 'termsConditions.rewards.redeemingCoins.description4' | translate }}</p>

                                <h5>{{ 'termsConditions.rewards.taxResponsibility.subtitle' | translate }}</h5>
                                <p>{{ 'termsConditions.rewards.taxResponsibility.description' | translate }}</p>

                                <h5>{{ 'termsConditions.rewards.expirationOfCoins.subtitle' | translate }}</h5>
                                <p>{{ 'termsConditions.rewards.expirationOfCoins.description' | translate }}</p>

                                <h5>{{ 'termsConditions.rewards.fraudAccountAdjustments.subtitle' | translate }}</h5>
                                <p>{{ 'termsConditions.rewards.fraudAccountAdjustments.description1' | translate }}</p>
                                <p
                                    [innerHTML]="'termsConditions.rewards.fraudAccountAdjustments.description2' | translate | safeHtml">
                                </p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.prohibitedActivities.title' | translate }}</h3>
                                <p>{{ 'termsConditions.prohibitedActivities.intro' | translate }}</p>
                                <ul>
                                    <li>{{ 'termsConditions.prohibitedActivities.point1' | translate }}</li>
                                    <li>{{ 'termsConditions.prohibitedActivities.point2' | translate }}</li>
                                    <li>{{ 'termsConditions.prohibitedActivities.point3' | translate }}</li>
                                    <li>{{ 'termsConditions.prohibitedActivities.point4' | translate }}</li>
                                    <li>{{ 'termsConditions.prohibitedActivities.point5' | translate }}</li>
                                    <li>{{ 'termsConditions.prohibitedActivities.point6' | translate }}</li>
                                    <li>{{ 'termsConditions.prohibitedActivities.point7' | translate }}</li>
                                    <li>{{ 'termsConditions.prohibitedActivities.point8' | translate }}</li>
                                </ul>
                                <p>{{ 'termsConditions.prohibitedActivities.conclusion' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.restrictedContent.title' | translate }}</h3>
                                <p>{{ 'termsConditions.restrictedContent.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.emailCommunication.title' | translate }}</h3>
                                <p>{{ 'termsConditions.emailCommunication.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.cancelingAccount.title' | translate }}</h3>
                                <p>{{ 'termsConditions.cancelingAccount.description1' | translate }}</p>
                                <p>{{ 'termsConditions.cancelingAccount.description2' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.disclaimer.title' | translate }}</h3>
                                <p>{{ 'termsConditions.disclaimer.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.limitationsOfLiability.title' | translate }}</h3>
                                <p>{{ 'termsConditions.limitationsOfLiability.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.indemnification.title' | translate }}</h3>
                                <p>{{ 'termsConditions.indemnification.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.notices.title' | translate }}</h3>
                                <p>{{ 'termsConditions.notices.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.arbitration.title' | translate }}</h3>
                                <p>{{ 'termsConditions.arbitration.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.classActionWaiver.title' | translate }}</h3>
                                <p
                                    [innerHTML]="'termsConditions.classActionWaiver.description1' | translate | safeHtml">
                                </p>
                                <!-- <p>{{ 'termsConditions.classActionWaiver.address1' | translate }}<br>
                                    {{ 'termsConditions.classActionWaiver.address2' | translate }}<br>
                                    {{ 'termsConditions.classActionWaiver.address3' | translate }}<br>
                                    {{ 'termsConditions.classActionWaiver.address4' | translate }}</p> -->
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.severability.title' | translate }}</h3>
                                <p>{{ 'termsConditions.severability.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.jurisdiction.title' | translate }}</h3>
                                <p>{{ 'termsConditions.jurisdiction.description' | translate }}</p>
                            </div>

                            <div class="m-b-24">
                                <h3>{{ 'termsConditions.miscellaneousTerms.title' | translate }}</h3>
                                <p>{{ 'termsConditions.miscellaneousTerms.description' | translate }}</p>
                            </div>

                        </mat-card>
                    </div>

                    <div class="col-lg-5">
                        <div class="img-fixed">
                            <div class="img1 image-anime">
                                <img loading="lazy" src="assets/images/terms-conditions.jpg" alt="Terms & Conditions">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>