<!-- <div class="main-layout">
    <mat-toolbar class="header-toolbar">
        <span class="logo">← FREECASH</span>
        <span class="coin-display">0 coins</span>

        <span class="spacer"></span>

        <div class="header-right">
            <span class="app-name">TapResearch</span>
            <button mat-icon-button aria-label="Menu">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar> -->

<!-- <router-outlet></router-outlet> -->
<!-- </div> -->





<div class="offerwall-home-container">
    <app-offerwall-header></app-offerwall-header>
    <router-outlet></router-outlet>
</div>