<div class="container-fluid">
    <div class="navbar my-custom-toolbar" [class.shrunk]="isShrunk">
        <div class="container">
            <div class="my-custom-toolbar-inner">
                <div class="navbar-left">
                    <a href="/">
                        <img src="/assets/images/homepagelogo.png" alt="Logo" class="logo" />
                    </a>
                </div>

                <span class="spacer"></span>
                <button matFab extended  [routerLink]="['/', currentLang, 'auth', 'login']"
                    class="site-header-button rounded-pill border-0 d-sm-none">
                    {{ 'header.loginOrSignUp' | translate }}
                </button>

                <nav class="navbar-links">
                    <a mat-button class="nav-link" [routerLink]="['/', currentLang, 'help']">{{ 'refer.title' | translate }}</a>
                    <a mat-button class="nav-link" [routerLink]="['/', currentLang, 'cashout']">{{ 'header.earnRewards' | translate }}</a>
                    <a mat-button class="nav-link" [routerLink]="['/', currentLang, 'amazongiftcard']">{{ 'header.redeemPoint' | translate }}</a>

                    <mat-divider vertical class="nav-divider"></mat-divider>

                    <button mat-button class="language my-custom-button" (click)="openTranslate()">
                        <mat-icon>public</mat-icon>
                        {{ 'header.language' | translate }}
                    </button>

                    <button mat-flat-button class="cta-button" (click)="goToApp()">
                        {{ 'header.goToApp' | translate }}
                    </button>
                </nav>

                <button mat-icon-button class="mobile-menu-btn" aria-label="Menu" (click)="toggleMobileMenu()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
        <div class="container">
            <div class="live-payout">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="trending-nows-aera">
                            <div class="live-payouts"><span class="blink"></span> {{ 'header.livePayouts' | translate }}
                            </div>
                            <div class="card-list">
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/paypal.png" width="20"
                                            class="payout-item-img" alt="PayPal Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/paypal.png" width="20"
                                            class="payout-item-img" alt="PayPal Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/paypal.png" width="20"
                                            class="payout-item-img" alt="PayPal Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>

</div>