<div class="container-fluid">
    <div class="navbar my-custom-toolbar" [class.shrunk]="isShrunk">
        <div class="container">
            <div class="my-custom-toolbar-inner">
                <div class="navbar-left">
                    <a href="/">
                        <img src="/assets/images/logo.png" alt="Logo" class="logo" />
                    </a>
                </div>

                <span class="spacer"></span>
                <button matFab extended routerLink="/auth/login"
                    class="site-header-button rounded-pill border-0 d-sm-none">
                    {{ 'header.loginOrSignUp' | translate }}
                </button>

                <nav class="navbar-links">
                    <a mat-button class="nav-link">{{ 'header.earnRewards' | translate }}</a>
                    <a mat-button class="nav-link">{{ 'header.surveysOffers' | translate }}</a>
                    <a mat-button class="nav-link">{{ 'header.redeemPoint' | translate }}</a>

                    <mat-divider vertical class="nav-divider"></mat-divider>

                    <button mat-button class="language my-custom-button" (click)="openTranslate()">
                        <mat-icon>public</mat-icon>
                        {{ 'header.language' | translate }}
                    </button>

                    <button mat-flat-button class="cta-button" (click)="goToApp()">
                        {{ 'header.goToApp' | translate }}
                    </button>
                </nav>

                <button mat-icon-button class="mobile-menu-btn" aria-label="Menu" (click)="toggleMobileMenu()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
        <div class="container">
            <div class="live-payout">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="trending-nows-aera">
                            <div class="live-payouts"><span class="blink"></span> {{ 'header.livePayouts' | translate }}
                            </div>
                            <div class="card-list">
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/paypal.png" width="20"
                                            class="payout-item-img" alt="PayPal Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/paypal.png" width="20"
                                            class="payout-item-img" alt="PayPal Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/paypal.png" width="20"
                                            class="payout-item-img" alt="PayPal Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>

</div>

<ng-template #Translate class="happen-modal"><button (click)="closeTranslate()" class="close">X</button>
    <mat-card appearance="outlined" class="custom-card box-shadow text-center">
        <mat-card-content class="translate-sec">
            <div class="header">
                <img src="/assets/images/icon/world-map.png">
                <h2>Select Country and Language</h2>
            </div>
            <div class="translate-box m-t-24">
                <mat-accordion class="accordion">
                    <mat-expansion-panel class="accordion-item" *ngFor="let country of countryLanguages"
                        (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img [src]="country.flagUrl" />
                                </div>
                                <span>{{ country.countryName }}</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group class="form-radio" aria-label="Select a language">
                                <mat-radio-button *ngFor="let lang of country.languages" [value]="lang.id"
                                    (change)="onLanguageSelect(lang.code, lang.id)">
                                    {{ lang.name }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
            <button matButton class="btn-theme" (click)="changeLanguage()">Select</button>
        </mat-card-content>
    </mat-card>
</ng-template>