<div class="container-fluid">
    <div class="navbar my-custom-toolbar" [class.shrunk]="isShrunk">
        <div class="container">
            <div class="my-custom-toolbar-inner">
                <div class="navbar-left">
                    <a href="/">
                        <img src="/assets/images/logo.png" alt="Logo" class="logo" />
                    </a>
                </div>

                <span class="spacer"></span>
                <button matFab extended routerLink="/auth/login"
                    class="site-header-button rounded-pill border-0 d-sm-none">
                    {{ 'header.loginOrSignUp' | translate }}
                </button>

                <nav class="navbar-links">
                    <a mat-button class="nav-link">{{ 'header.earnRewards' | translate }}</a>
                    <a mat-button class="nav-link">{{ 'header.surveysOffers' | translate }}</a>
                    <a mat-button class="nav-link">{{ 'header.redeemPoint' | translate }}</a>

                    <mat-divider vertical class="nav-divider"></mat-divider>

                    <button mat-button class="language my-custom-button" (click)="openTranslate()">
                        <mat-icon>public</mat-icon>
                        {{ 'header.language' | translate }}
                    </button>

                    <button mat-flat-button class="cta-button" (click)="goToApp()">
                        {{ 'header.goToApp' | translate }}
                    </button>
                </nav>

                <button mat-icon-button class="mobile-menu-btn" aria-label="Menu" (click)="toggleMobileMenu()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
        <div class="container">
            <div class="live-payout">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="trending-nows-aera">
                            <div class="live-payouts"><span class="blink"></span> {{ 'header.livePayouts' | translate }}
                            </div>
                            <div class="card-list">
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/paypal.png" width="20"
                                            class="payout-item-img" alt="PayPal Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/paypal.png" width="20"
                                            class="payout-item-img" alt="PayPal Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/paypal.png" width="20"
                                            class="payout-item-img" alt="PayPal Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                                <div class="payout-item">
                                    <div class="d-flex"><img src="assets/images/icon/amazon.png" width="20"
                                            class="payout-item-img" alt="Amazon Icon">
                                        <span class="title m-l-2">{{ 'header.payoutItem.paypal' | translate }}</span>
                                    </div>
                                    <span class="price">£5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>

</div>

<ng-template #Translate class="happen-modal"><button (click)="closeTranslate()" class="close">X</button>
    <mat-card appearance="outlined" class="custom-card box-shadow text-center">
        <mat-card-content class="translate-sec">
            <div class="header">
                <img src="/assets/images/icon/world-map.png">
                <h2>Select Country and Language</h2>
            </div>
            <div class="translate-box m-t-24">
                <mat-accordion class="accordion">
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/in.png">
                                </div>
                                <span>भारत</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="4" checked="checked">English</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/us.png">
                                </div>
                                <span>United States</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1">English</mat-radio-button>
                                <mat-radio-button value="2">Español</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/gb.png">
                                </div>
                                <span>United Kingdom</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1">English</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/ca.png">
                                </div>
                                <span>Canada</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1">English</mat-radio-button>
                                <mat-radio-button value="2"> Français</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/au.png">
                                </div>
                                <span>Australia</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1">English</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/sg.png">
                                </div>
                                <span>Singapore</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1">English</mat-radio-button>
                                <mat-radio-button value="1"> 中文</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/fr.png">
                                </div>
                                <span>France</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1"> Français</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/ge.png">
                                </div>
                                <span>Georgia</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1"> English </mat-radio-button>
                                <mat-radio-button value="1"> Georgia </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/es.png">
                                </div>
                                <span>España</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1"> Español</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/it.png">
                                </div>
                                <span>Italia</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1"> Italiano</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/be.png">
                                </div>
                                <span>België</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1"> Nederlands</mat-radio-button>
                                <mat-radio-button value="1"> Français</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/mx.png">
                                </div>
                                <span>México</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1"> Español</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/br.png">
                                </div>
                                <span>Brasil</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1"> Português</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/nz.png">
                                </div>
                                <span>New Zealand</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1">English</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="accordion-item" (opened)="panelOpenState.set(true)"
                        (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header class="accordion-header">
                            <div class="accordion-button">
                                <div class="flag-icon">
                                    <img src="https://flagcdn.com/24x18/my.png">
                                </div>
                                <span>Malaysia</span>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="accordion-collapse">
                            <p>Select Language</p>
                            <mat-radio-group aria-label="Select an option" class="form-radio">
                                <mat-radio-button value="1">English</mat-radio-button>
                                <mat-radio-button value="1"> Bahasa Melayu</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <button matButton class="btn-theme">Select</button>
        </mat-card-content>
    </mat-card>
</ng-template>