<div class="consent-container mat-elevation-z4">
    <div class="illustration">
        <mat-icon class="illustration-icon">assignment_turned_in</mat-icon>
    </div>

    <h2 class="title">Your rewards, your data</h2>

    <mat-list>
        <mat-list-item>
            <mat-icon matListIcon>visibility_off</mat-icon>
            <div matLine class="list-title">Your data belongs to you</div>
            <div matLine class="list-text">
                Your survey data is protected and never sold or used for any other purpose than
                connecting you with surveys. For more details on how your data is used and protected,
                <a href="#">click here</a>.
            </div>
        </mat-list-item>

        <mat-list-item>
            <mat-icon matListIcon>person_search</mat-icon>
            <div matLine class="list-title">Personalized surveys</div>
            <div matLine class="list-text">
                TapResearch matches you with survey opportunities based on your profile.
            </div>
        </mat-list-item>

        <mat-list-item>
            <mat-icon matListIcon>stars</mat-icon>
            <div matLine class="list-title">Effortless rewards</div>
            <div matLine class="list-text">
                Get rewarded instantly by completing surveys, and make an impact by sharing your opinion.
            </div>
        </mat-list-item>
    </mat-list>

    <mat-checkbox [(ngModel)]="accepted" color="primary">
        I agree to the TapResearch
        <a href="#">Terms of Use</a>, <a href="#">Privacy Policy</a> and <a href="#">Cookie Policy</a>.
    </mat-checkbox>

    <div class="actions">
        <button mat-flat-button color="primary" [disabled]="!accepted">Accept</button>
        <button mat-button color="warn">Don't Accept</button>
    </div>
</div>