.mr-left-12 {
  margin-left: -25px;
}

.text-center {
  text-align: center;
  margin-top: 8px;
}

.questionfooter {
  margin: 10px;
}

.custom-container {
  max-width: 1360px;
  margin: auto;
}

.mat-mdc-card-header {
  display: inherit;
}

.action-button-container {
  padding-left: 50px;
  padding-right: 50px;
  background: #105749;
  border-color: #105749;
  margin-right: 50px;
}