<section id="Personal_Information">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="head">
                    <h2>{{ 'personalInformation.heading.title' | translate }}</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="personal-information">
                            <p [innerHTML]="'personalInformation.intro.paragraph' | translate | safeHtml"></p>
                            <div class="m-b-24">
                                <h3>{{ 'personalInformation.whatItMeans.title' | translate }}</h3>
                                <p class="m-t-10">{{ 'personalInformation.whatItMeans.paragraph' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <mat-card class="shadow-none border-radius-0">
                            <form #donotsellForm="ngForm" class="opt-out-form">
                                <h3>{{ 'personalInformation.optOutForm.title' | translate }}</h3>
                                <mat-form-field  appearance="outline" class="full-width">
                                    <mat-label>{{ 'personalInformation.optOutForm.fullNameLabel' | translate
                                        }}</mat-label>
                                    <input matInput name="name"  [(ngModel)]="securityForm.name" required>
                                </mat-form-field>

                                <mat-form-field  appearance="outline" class="full-width">
                                    <mat-label>{{ 'personalInformation.optOutForm.emailLabel' | translate }}</mat-label>
                                    <input matInput  type="email" name="email"  [(ngModel)]="securityForm.email" required>
                                </mat-form-field>

                                <mat-form-field  appearance="outline" class="full-width">
                                    <mat-label>{{ 'personalInformation.optOutForm.commentsLabel' | translate
                                        }}</mat-label>
                                    <textarea matInput rows="3"  name="message"  [(ngModel)]="securityForm.message"></textarea>
                                </mat-form-field>

                                <button mat-flat-button color="primary" class="btn-submit" (click)="onSubmit()">
                                    {{ 'personalInformation.optOutForm.submitButton' | translate }}
                                </button>
                            </form>

                            <div class="any-question">
                                <h3>{{ 'personalInformation.questions.title' | translate }}</h3>
                                <p [innerHTML]="'personalInformation.questions.paragraph' | translate | safeHtml"></p>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col-lg-6">
                        <div class="img1 image-anime">
                            <img loading="lazy" src="assets/images/no-data.jpg" alt="Data Privacy Illustration">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>