 #Personal_Information {
     .head {
         text-align: left;
         h2 {
             line-height: 36px;
             transition: all 0.4s;
             font-size: 36px;
             color: #185445;
             margin-bottom: 10px;
         }
     }
     .personal-information {
         text-align: left;
     }
     mat-card {
         text-align: left;
         .opt-out-form {
             position: relative;
             z-index: 1;
             background: #EFF1FF;
             border-radius: 8px;
             padding: 32px;
             .full-width {
                 width: 100%;
             }
             .btn-submit {
                 position: relative;
                 border-radius: 8px;
                 color: #fff;
                 background: linear-gradient( 90deg, #145c4b 0%, #7ebf76 100%);
                 z-index: 1;
                 font-size: 20px;
                 line-height: 20px;
                 transition: all 0.4s;
                 width: 100%;
                 height: 50px;
                 text-align: center;
                 border: none;
                 outline: none;
                 &::after {
                     position: absolute;
                     content: "";
                     height: 100%;
                     width: 10px;
                     border-radius: 8px;
                     background: linear-gradient( 90deg, #7ebf76 0%, #145c4b 100%);
                     transition: all 0.4s;
                     top: 0;
                     left: 50%;
                     border-radius: 8px;
                     z-index: -1;
                     visibility: hidden;
                     opacity: 0;
                 }
                 &:hover {
                     transition: all 0.4s;
                     transform: translateY(-5px);
                     &::after {
                         visibility: visible;
                         opacity: 1;
                         transition: all 0.4s;
                         width: 100%;
                         left: 0;
                     }
                 }
             }
             h3 {
                 margin-bottom: 10px;
                 text-align: left;
                 font-size: 24px;
                 margin-bottom: 22px;
             }
         }
         .any-question {
             margin-top: 20px;
         }
     }
      ::ng-deep {
         .mdc-text-field--filled {
             &:not(.mdc-text-field--disabled) {
                 background-color: #fff;
                 .mdc-line-ripple {
                     &::before {
                         border-color: #d6d6d6;
                     }
                 }
                 &.mdc-text-field--invalid {
                     .mdc-line-ripple {
                         &::before {
                             border-bottom-color: #dc2626
                         }
                     }
                 }
             }
         }
     }
     .img1 {
         position: relative;
         overflow: hidden;
         border: 1px solid #f2f2f2;
         padding: 10px 10px;
         border-radius: 12px;
         &::after {
             content: "";
             position: absolute;
             width: 200%;
             height: 0%;
             left: 50%;
             top: 50%;
             background-color: rgba(255, 255, 255, 0.3);
             transform: translate(-50%, -50%) rotate(-45deg);
             z-index: 1;
         }
         img {
             width: 100%;
         }
         &:hover {
             &::after {
                 height: 250%;
                 transition: all 600ms linear;
                 background-color: transparent;
             }
         }
     }
     @media (max-width:767px) {
         mat-card {
             .opt-out-form {
                 padding: 18px;
             }
         }
         .img1 {
             display: none;
         }
     }
 }