<app-root-header></app-root-header>
<div class="landing-wrapper mat-elevation-z2">
    <div class="not-found-container">
        <div class="content">
            <h1 class="code">404</h1>
            <h2 class="title">Page Not Found</h2>
            <p class="message">
                Oops! The page you're looking for doesn’t exist or has been moved.
            </p>

            <div class="actions">
                <button mat-raised-button color="primary" routerLink="/">
                    Go to Home
                </button>
                <button mat-stroked-button color="accent" (click)="goToApp()">
                    Go Back
                </button>
            </div>
        </div>
    </div>
</div>


@if(!isMobile){
<app-apk-toggle></app-apk-toggle>
}
<app-root-footer></app-root-footer>