<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="assets/images/logo.png" alt="Profitpiller logo" class="logo" />
            <p>{{ 'footer.copyright' | translate }}<br /> {{ 'footer.productOf' | translate }} <a href="#">{{ 'footer.cralpkResearchGroup' | translate }}</a>
            </p>
        </div>

        <div class="footer-links">
            <div class="footer-column">
                <h4>{{ 'footer.platform.title' | translate }}</h4>
                <a href="javascript://" routerLink="/auth/login">{{ 'footer.platform.loginOrSignUp' | translate }}</a>
                <a href="javascript://" routerLink="/aboutus">{{ 'footer.platform.aboutProfitpiller' | translate }}</a>
                <a href="javascript://" routerLink="/contactus">{{ 'footer.platform.contactUs' | translate }}</a>
                <a href="javascript://" routerLink="/help">{{ 'footer.platform.help' | translate }}</a>
            </div>

            <div class="footer-column">
                <h4>{{ 'footer.legal.title' | translate }}</h4>
                <a href="javascript://" routerLink="/privacy-policy">{{ 'footer.legal.privacyPolicy' | translate }}</a>
                <a href="javascript://" routerLink="/terms-conditions">{{ 'footer.legal.termsConditions' | translate }}</a>
                <a href="javascript://" routerLink="/cookie-policy">{{ 'footer.legal.cookiePolicy' | translate }}</a>
                <a href="javascript://" routerLink="/do-not-sell">{{ 'footer.legal.doNotSell' | translate }}</a>
            </div>

            <div class="footer-column">
                <h4>{{ 'footer.exploreMore.title' | translate }}</h4>
                <a href="javascript://" routerLink="/cashout">{{ 'footer.exploreMore.earnCash' | translate }}</a>
                <a href="javascript://" routerLink="/giftcard">{{ 'footer.exploreMore.getRewarded' | translate }}</a>
                <a href="javascript://" routerLink="/amazongiftcard">{{ 'footer.exploreMore.redeemAmazon' | translate }}</a>
                <a href="javascript://" routerLink="/paypal">{{ 'footer.exploreMore.getPaiyPal' | translate }}</a>
                <a href="javascript://" routerLink="/visa">{{ 'footer.exploreMore.visaGiftCards' | translate }}</a>
            </div>
        </div>
    </div>
</footer>
