<section id="Cookie_Policy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="head">
          <h2>{{ 'cookiePolicy.title' | translate }}</h2>
          <p>
            <strong>{{ 'cookiePolicy.effectiveDate.label' | translate }}</strong>:
            {{ 'cookiePolicy.effectiveDate.value' | translate }}
          </p>
        </div>

        <div class="row">
          <div class="col-lg-7">
            <mat-card class="shadow-none border-radius-0">

              <div class="m-b-24">
                <h3>{{ 'cookiePolicy.introduction.title' | translate }}</h3>
                <p>{{ 'cookiePolicy.introduction.text' | translate }}</p>
              </div>

              <div class="m-b-24">
                <h3>{{ 'cookiePolicy.whatAreCookies.title' | translate }}</h3>
                <p>{{ 'cookiePolicy.whatAreCookies.text' | translate }}</p>
              </div>

              <div class="m-b-24">
                <h3>{{ 'cookiePolicy.typesOfCookies.title' | translate }}</h3>

                <h5>{{ 'cookiePolicy.necessaryCookies.title' | translate }}</h5>
                <p>{{ 'cookiePolicy.necessaryCookies.text' | translate }}</p>

                <h5>{{ 'cookiePolicy.performanceCookies.title' | translate }}</h5>
                <p>{{ 'cookiePolicy.performanceCookies.text' | translate }}</p>

                <h5>{{ 'cookiePolicy.functionalCookies.title' | translate }}</h5>
                <p>{{ 'cookiePolicy.functionalCookies.text' | translate }}</p>

                <h5>{{ 'cookiePolicy.targetingCookies.title' | translate }}</h5>
                <p>{{ 'cookiePolicy.targetingCookies.text' | translate }}</p>

                <h5>{{ 'cookiePolicy.thirdPartyCookies.title' | translate }}</h5>
                <p>{{ 'cookiePolicy.thirdPartyCookies.text' | translate }}</p>
              </div>

              <div class="m-b-24">
                <h3>{{ 'cookiePolicy.howWeUseCookies.title' | translate }}</h3>
                <p>{{ 'cookiePolicy.howWeUseCookies.text' | translate }}</p>
              </div>

              <div class="m-b-24">
                <h3>{{ 'cookiePolicy.cookieManagement.title' | translate }}</h3>
                <p>{{ 'cookiePolicy.cookieManagement.text' | translate }}</p>
              </div>

              <div class="m-b-24">
                <h3>{{ 'cookiePolicy.changesToPolicy.title' | translate }}</h3>
                <p>{{ 'cookiePolicy.changesToPolicy.text' | translate }}</p>
              </div>

              <div class="m-b-24">
                <h3>{{ 'cookiePolicy.contactUs.title' | translate }}</h3>
                <p>{{ 'cookiePolicy.contactUs.text' | translate }}</p>
              </div>

              <hr>

              <!-- <div class="cookie-banner">
                <p>{{ 'cookieBanner.message' | translate }}</p>
                <button mat-raised-button color="primary">{{ 'cookieBanner.accept' | translate }}</button>
                <button mat-stroked-button color="warn">{{ 'cookieBanner.reject' | translate }}</button>
                <a routerLink="/cookie-policy">{{ 'cookieBanner.moreInfo' | translate }}</a>
              </div> -->

            </mat-card>
          </div>

          <div class="col-lg-5">
            <div class="img-fixed">
              <div class="img1 image-anime">
                <img src="assets/images/cookie-policy.png" alt="Cookie Policy Illustration">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
