<mat-dialog-content class="rewards-dialog-content">

    <div class="reward-container">
        <div class="d-flex align-items-center justify-content-between m-b-16">
            <h3 class="text-center"> {{ 'Redeem Points' | translate }}</h3>
            <button mat-icon-button mat-dialog-close>
                <i-tabler name="x" class="x icon-20"></i-tabler>
            </button>
        </div>
        <mat-form-field appearance="outline" color="primary" class="w-100">
            <mat-label>{{ 'search_reward' | translate }}</mat-label>
            <input matInput [(ngModel)]="searchText" />
        </mat-form-field>

        <!-- Transfer Section -->
        <div class="section">
            <div class="section-header">
                <mat-icon>account_balance</mat-icon>
                <span> {{ 'Transfer' | translate }} ({{ rewardInfo.transferCards.length }})</span>
            </div>
            <div class="section-content" *ngFor="let card of rewardInfo.transferCards">

                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="reward-header p-y-16">
                                    <img loading="lazy" src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_74x46.jpg"
                                        alt="{{ card.name }}" />
                                    <div>
                                        <div class="reward-title">{{ card.name }}</div>
                                        <div class="reward-subtitle"> {{ 'From' | translate }} {{ card.minPoints }}
                                            points</div>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="amount-body">
                            <img loading="lazy" src="assets/images/backgrounds/gift-2.png" class="elements46">
                            <img loading="lazy" src="assets/images/backgrounds/dust-gold-hi.png" class="stars">
                            <img loading="lazy" src="assets/images/elements4.png" class="elements4">
                            <div class="grid gift-point grid-cols-1 sm:grid-cols-2 gap-4">
                                <div *ngFor="let option of card.options;" class="amount-card"
                                    [class.selected]="selectedChildOptionCard?.amount === option.amount"
                                    (click)="selectChilOption(option, $event,card,1)">
                                    <div class="text-lg font-semibold">{{ option.amount | currency: card.currencyCode :
                                        'symbol' }}</div>
                                    <div class="text-sm text-gray-500">{{ option.points }} points</div>
                                    <mat-icon class="lock-icon">lock</mat-icon>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

        <!-- Gift Cards Section -->
        <div class="section m-y-1rem">
            <div class="section-header">
                <mat-icon>card_giftcard</mat-icon>
                <span>Gift Cards ({{ filteredGiftCards.length }})</span>
            </div>
            @for (card of filteredGiftCards; track card.productId) {
            <div class="section-content">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="reward-header p-y-16">
                                    <img loading="lazy" [src]="card.imageUrl" alt="{{ card.name }}" />
                                    <div>
                                        <div class="reward-title">{{ card.name }}</div>
                                        <div class="reward-subtitle"> {{ 'From' | translate }} {{ card.minPoints }}
                                            points</div>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="amount-body">
                            <img loading="lazy" src="assets/images/backgrounds/gift-2.png" class="elements46">
                            <img loading="lazy" src="assets/images/backgrounds/dust-gold-hi.png" class="stars">
                            <img loading="lazy" src="assets/images/elements4.png" class="elements4">
                            <div class="grid gift-point grid-cols-1 sm:grid-cols-2 gap-4">
                                <div *ngFor="let option of card.options;" class="amount-card"
                                    [class.selected]="selectedChildOptionCard?.amount === option.amount"
                                    (click)="selectChilOption(option, $event,card,2)">
                                    <div class="text-lg font-semibold">{{ option.amount | currency: card.currencyCode :
                                        'symbol' }}</div>
                                    <div class="text-sm text-gray-500">{{ option.points }} points</div>
                                    <mat-icon class="lock-icon">lock</mat-icon>
                                </div>
                            </div>
                        </div>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            }
        </div>

        <div class="view-more-container" *ngIf="!showAllGiftCards && rewardInfo.giftCards.length > pageSize">
            <button mat-button class="view-more-link" (click)="viewMoreGiftCards()">
                {{ 'View' | translate }} {{ rewardInfo.giftCards.length - pageSize }} {{ 'more_giftcard' | translate }}
            </button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="dialog-footer">
    <button mat-raised-button class="footer-button" *ngIf="selectedChildOptionCard" (click)="onSelectReward()">
        Select
    </button>
</mat-dialog-actions>