<div class="text-center top-head">
    <p>{{ 'login.headline' | translate }} </p>
</div>

<div class="rh-hero-right-part">
    <div class="bg-trans">
        <div class="rh-hr-rgt-top">
            <i class="fa"><img loading="lazy" src="assets/images/icon/trophy-star.png"></i>
            <h3>{{ defaultAmount | currency: 'USD' : 'symbol' }} million <span>{{ 'login.earn_members' | translate
                    }}</span></h3>
        </div>
        <div class="rh-hr-rgt-form">
            <h3>{{ 'forgotpassword.resetpassword' | translate }}</h3>
            <form class="m-t-30" [formGroup]="rsetForm" (submit)="submit()">

                <mat-form-field appearance="outline" color="primary" class="w-100">
                    <mat-label>{{ 'text.password' | translate }}</mat-label>
                    <input matInput formControlName="password">
                    @if (rsetForm.get('password')?.hasError('required')) {
                    <mat-error class="text-right">{{ 'messages.password.required' | translate }}</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" color="primary" class="w-100">
                    <mat-label>{{ 'text.confirmpassword' | translate }}</mat-label>
                    <input matInput formControlName="confirmPassword">
                    @if (rsetForm.get('confirmPassword')?.hasError('confirmPassword')) {
                    <mat-error class="text-right">{{ 'messages.confirmpassword.required' | translate }}</mat-error>
                    }
                </mat-form-field>

                @if (!rsetForm.get('password')?.hasError('required') && !rsetForm.get('password')?.hasError('required')
                &&
                (rsetForm.get('password')?.value !== rsetForm.get('confirmPassword')?.value)) {
                <mat-error class="text-right">{{ 'messages.confirmpassword.notmatching' | translate }}</mat-error>
                }

                <button type="submit" mat-flat-button color="primary" class="w-100 m-y-1rem">{{ 'buttons.continue' |
                    translate }}</button>
            </form>
        </div>
    </div>
</div>