<div class="example-sidenav-content">
    <div class="wrapper">
        <div class="main">
            <div class="section">
                <div class="container header text-center">
                    <div class="m-header">
                        <a href="/">
                         <img src="assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>