<div class="breadcrumb-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero2-heading">
                    <h2>{{ 'giftCardSurveys.banner.title' | translate }}</h2>
                    <h6>{{ 'giftCardSurveys.banner.subtitle' | translate }}</h6>
                    <div class="d-none d-md-block">
                        <p>{{ 'giftCardSurveys.banner.description' | translate }}</p>
                        <div class="sign-up">
                            <a href="javascript://"  [routerLink]="['/', currentLocale, 'auth', 'login']">{{ 'giftCardSurveys.banner.startButton' | translate }} <mat-icon>arrow_forward</mat-icon></a>
                            <p>{{ 'giftCardSurveys.banner.startNote' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img1">
                    <img loading="lazy" src="assets/images/gift-cards/gift-voucher.png" alt="Gift Voucher">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="hero2-heading d-md-none">
                    <p>{{ 'giftCardSurveys.banner.description' | translate }}</p>
                    <div class="sign-up">
                        <a href="javascript://"  [routerLink]="['/', currentLocale, 'auth', 'login']">{{ 'giftCardSurveys.banner.startButton' | translate }} <mat-icon>arrow_forward</mat-icon></a>
                        <p>{{ 'giftCardSurveys.banner.startNote' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="landing-container position-relative">
    <img loading="lazy" src="assets/images/backgrounds/elements9.png" alt="" class="elements9">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="illustration">
                    <img loading="lazy" src="assets/images/gift-cards/gift-card.png" alt="Gift Card Illustration" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="content">
                    <h5 class="m-b-12">
                        <mat-icon>card_giftcard</mat-icon> {{ 'giftCardSurveys.section1.subtitle' | translate }}</h5>
                    <h1>{{ 'giftCardSurveys.section1.title' | translate }}</h1>
                    <p class="subtitle m-t-0">
                        {{ 'giftCardSurveys.section1.description1' | translate }}
                    </p>
                    <div class="des">
                        <p>{{ 'giftCardSurveys.section1.description2' | translate }}</p>
                        <p>{{ 'giftCardSurveys.section1.description3' | translate }}</p>
                        <p>{{ 'giftCardSurveys.section1.description4' | translate }}</p>
                        <p><strong [innerHTML]="'giftCardSurveys.section1.strongConclusion' | translate | safeHtml"></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-section-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="features-heading">
                    <h5 class="m-b-12">
                        <mat-icon>card_giftcard</mat-icon> {{ 'giftCardSurveys.features.subtitle' | translate }}</h5>
                    <h2>{{ 'giftCardSurveys.features.title' | translate }}</h2>
                    <p>{{ 'giftCardSurveys.features.description' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox">
                                    <img loading="lazy" src="assets/images/icon/homepage_signup_icon1.svg" class="img" alt="Sign Up Icon">
                                </span></div>
                            <div class="content">
                                <span class="year">{{ 'giftCardSurveys.features.step1.label' | translate }}</span>
                                <h3 class="title h4">{{ 'giftCardSurveys.features.step1.title' | translate }}</h3>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img loading="lazy" src="assets/images/icon/icon2.svg" class="img" alt="Survey Icon" /></span></div>
                            <div class="content">
                                <span class="year">{{ 'giftCardSurveys.features.step2.label' | translate }}</span>
                                <h3 class="title h4">{{ 'giftCardSurveys.features.step2.title' | translate }}</h3>
                                <p class="description">{{ 'giftCardSurveys.features.step2.description' | translate }}</p>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img loading="lazy" src="assets/images/icon/icon3.svg" class="img" alt="Reward Icon"></span></div>
                            <div class="content">
                                <span class="year">{{ 'giftCardSurveys.features.step3.label' | translate }}</span>
                                <h3 class="title h4">{{ 'giftCardSurveys.features.step3.title' | translate }}</h3>
                                <p class="description">{{ 'giftCardSurveys.features.step3.description' | translate }}</p>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-root-faq></app-root-faq>

<section id="Support" class="p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="footer-note">
                    <h4>{{ 'giftCardSurveys.support.title' | translate }}</h4>
                    <p>{{ 'giftCardSurveys.support.description' | translate }}</p>
                    <a href="javascript://"  [routerLink]="['/', currentLocale, 'auth', 'login']">{{ 'giftCardSurveys.support.joinNow' | translate }}<mat-icon>arrow_forward</mat-icon></a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="cta-images">
                    <img loading="lazy" src="assets/images/backgrounds/elements7.png" class="elements7" alt="Elements">
                    <div class="img1">
                        <img loading="lazy" src="assets/images/cta-img1.png" alt="CTA Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
