@use "sass:map";
@use "@angular/material" as mat;

// @include mat.sidenav-overrides((container-shape: 0,
//     container-background-color:var(--mat-sys-background),
//     content-background-color:var(--mat-sys-background),
//     content-text-color:var(--mat-sys-on-background),
//     container-text-color:var(--mat-sys-on-background),
//   ));

@include mat.sidenav-overrides((
  container-background-color:var(--mat-sys-surface),
  container-text-color:var(--mat-sys-on-surface-variant),
  content-background-color:var(--mat-sys-background),
  content-text-color:var(--mat-sys-on-background)
  ));