.landing-wrapper {
    padding: 0px 0px 0px 0px;
    // background: linear-gradient(180deg, #eaf4ff 0%, #ffffff 40%);
    text-align: center;
    //margin-top: 65px;
}

.cookie-button {
    position: fixed;
    bottom: 16px;
    left: 16px;
    // background-color: #2f6f4e;
    /* green background like your example */
    color: white;
    z-index: 1000;
}