<app-root-header></app-root-header>
<div class="landing-wrapper mat-elevation-z2">
    <!-- <mat-divider></mat-divider> -->
    <!-- <mat-divider></mat-divider> -->
    <router-outlet></router-outlet>
    <!-- <app-root-livebanner></app-root-livebanner> -->
</div>

@if(!isMobile){
<app-apk-toggle></app-apk-toggle>
}
<app-root-footer></app-root-footer>

<button mat-fab class="cookie-button" (click)="showConsent(false)">
    <img loading="lazy" src="assets/images/cookie_icon.png" alt="Cookie Icon" width="28" height="28">
</button>