<div class="content-wrapper">
    <mat-card class="profile-card">
        <mat-card-header>
            <mat-card-title>Profile</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="profile-item">
                <div class="question-answer-group">
                    <p class="question">What gender do you identify with?</p>
                    <p class="answer">Male</p>
                </div>
                <button mat-button color="primary">Re-Answer</button>
            </div>

            <div class="profile-item">
                <div class="question-answer-group">
                    <p class="question">Would you like to add an additional gender option for more surveys?</p>
                    <p class="answer">Male</p>
                </div>
                <button mat-button color="primary">Re-Answer</button>
            </div>

            <div class="profile-item">
                <div class="question-answer-group">
                    <p class="question">What is your PIN?</p>
                    <p class="answer">122001</p>
                </div>
                <button mat-button color="primary">Re-Answer</button>
            </div>

            <div class="profile-item">
                <div class="question-answer-group">
                    <p class="question">How much total combined income do all members of your household earn before
                        taxes?</p>
                    <p class="answer">₹600,000 to ₹649,999</p>
                </div>
                <button mat-button color="primary">Re-Answer</button>
            </div>

            <div class="profile-item">
                <div class="question-answer-group">
                    <p class="question">What is the highest level of education you have complete?</p>
                    <p class="answer">College degree</p>
                </div>
                <button mat-button color="primary">Re-Answer</button>
            </div>

            <div class="profile-item">
                <div class="question-answer-group">
                    <p class="question">What is your current employment status?</p>
                    <p class="answer">Employed full-time</p>
                </div>
                <button mat-button color="primary">Re-Answer</button>
            </div>

            <div class="profile-item">
                <div class="question-answer-group">
                    <p class="question">Are you currently married?</p>
                    <p class="answer">Married</p>
                </div>
                <button mat-button color="primary">Re-Answer</button>
            </div>

            <div class="profile-item last-item">
                <div class="question-answer-group">
                    <p class="question">Are you the parent of children under 18 that live in your household?</p>
                    <p class="answer">Yes</p>
                </div>
                <button mat-button color="primary">Re-Answer</button>
            </div>

        </mat-card-content>
    </mat-card>
</div>